/*-- scss:defaults --*/

$body-bg: #cbd6d5;
$body-color: #396175;
$link-color: #c28273;
$code-block-bg: darken($body-bg,5%);
$code-block-border-color: $code-block-bg;
$code-bg: $body-bg;
$code-color: $body-color;
$presentation-font-size-root: 28px;
$presentation-line-height: 1.2;
$presentation-heading-line-height: 1;
$presentation-h1-font-size: 1.4em;
$presentation-h2-font-size: 1.2em;
$presentation-h3-font-size: 1em;
$presentation-h4-font-size: 1em;
$presentation-block-margin: 72px;

/*-- scss:rules --*/
